<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Language" content="ja" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta http-equiv="Content-Script-Type" content="text/javascript" />
	<meta http-equiv="Content-Style-Type" content="text/css" />
	<meta http-equiv="imagetoolbar" content="no" />
	
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	
	<meta name="Author" content="" />
	<meta name="copyright" content="" />
	<meta name="robots" content="NOINDEX,NOFOLLOW" />
	
	<link rel="start" href="http://beyata.minibird.jp/" />

	
	<link rel="stylesheet" href="common/css/default.css" type="text/css" media="all" />
	<link rel="stylesheet" href="common/css/common.css" type="text/css" media="all" />
	<link rel="stylesheet" href="common/css/index.css" type="text/css" media="all" />
	<script type="text/javascript" src="common/js/jquery-1.4.2.min.js"></script>
	<script type="text/javascript" src="../common/js/slideshow.js"></script>
	<script type="text/javascript" src="common/js/rollover.js"></script>
	<script type="text/javascript" src="common/js/jquery.corner.js"></script>
	<script type="text/javascript">
		$('.top').corner("top 7px");
		$('.wrap').corner("bottom 7px");
		$('.bottom').corner("bottom 7px");
	</script>
	
	<title>ZIPPOオーディション</title>
</head>

<body>
	<div class="header">
		<div class="header_box">
			<h1>
				<a href="http://beyata.minibird.jp/">
					<img src="../common/images/logo.gif" width="115" height="20" alt="UnDeFiNd" />
				</a>
			</h1>
		</div>
	</div>
	<div class="content">
		<div class="loginBox">
			<h3><a href="./login/">ユーザログイン</a></h3>
			<h3><a href="./ar_login/">ZIPPOログイン</a></h3>
			<h3><a href="./user_account/">ユーザ登録（仮登録）</a></h3>
		</div>	
		<div class="footer">
			<address>
				<script type="text/javascript" src="../../common/js/copyright.js"></script>
			</address>
		</div>
	</div>
</body>
</html>
