<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Content-Script-Type" content="text/javascript" />
<link rel="stylesheet" href="../../common/css/main.css" type="text/css" media="all" />
<title>管理画面:アーティスト動画編集</title>
</head>
<body>
	<div class="mainContainer">
		<div class="headContainer">
			<div class="headWrap">
				<h1>UNDEFIND</h1>
				<p>
					<a href="http://beyata.minibird.jp/">サイトを確認</a>　|　
					<a href="../../?out=2NbLQLLmZiwWTMtbRttR">ログアウト</a>
				</p>
			</div>
		</div>
		<div class="naviContainer">
			<ul>
				<li><a href="../../user">ユーザ</a></li>
				<li><a href="../../artist">アーティスト</a></li>
				<li><a href="../../audition">オーディション</a></li>
				<li><a href="../../news">ニュース</a></li>
				<li><a href="../../movie">動画管理</a></li>
				<li><a href="../../sound">音楽管理</a></li>
			</ul>
		</div>
		<div class="contentContainer">
			<div class="titleBox">
				<h2>動画管理画面</h2>
			</div>
			<div class="oneColumnsBox">
			<h3>アーティスト動画編集</h3>
			[data_s:err_det]
			<form action="" method="post" enctype="multipart/form-data">
			<input type="hidden" name="artist_no" value="[data_s:ar_id]" />
				<table class="nomalTableDeco">
				<tr>
				<td>動画タイトル</td>
				<td class="white"><input type="text" name="movie_title" value="[data_s:movie_title]" size="50" /></td>
				</tr>
				<tr>
				<td>動画元のサイト</td>
				<td class="white">
				<select name="movie_site">
					[data_s:site_form]
				</select>
				</td>
				</tr>
				<tr>
				<td>動画のURL</td>
				<td class="white">
				<div class="discription">
				<p>ニコニコ動画のURL例<br />
				http://www.nicovideo.jp/watch/sm数字<br />
				http://www.nicovideo.jp/watch/nm数字<br />
				http://ext.nicovideo.jp/thumb_watch/sm数字
				</p>
				<p>USTREAMのURL例<br />
				http://www.ustream.tv/embed/数字<br />
				http://www.ustream.tv/embed/recorded/数字/highlight/数字<br />
				http://www.ustream.tv/recorded/数字</p>
				<p>YouTubeのURL例<br />
				http://www.youtube.com/watch?v=数字<br />
				http://www.youtube.com/watch?v=数字&amp;feature=related
				</p>
				<p class="red">※ニコニコ動画のURLは『sm』の部分が『nm』のURLも使用できます。</p>
				<p class="red">※USTREAMのURLは動画ページ内の『埋め込み』の項目を選択、埋め込みコード内の『src="******"』のURLをコピーしてください。</p>
				</div>
				<p><input type="text" name="movie_url" value="[data_s:movie_url]" size="80" /></p>
				</td>
				</tr>
				<tr>
				<tr>
				<td>登録日時</td>
				<td class="white">[data_s:reg_date]</td>
				</tr>
				<tr>
				<td>更新日時</td>
				<td class="white">[data_s:renew_date]</td>
				</tr>
				<tr>
				<td colspan="2" class="white nomalTableCenter">
				<input type="submit" name="movie_edit_check" value="編集確認" class="formBtn" />
				</td>
				</tr>
				</table>
				</form>
			</div>
		</div>
		<div class="footContainer">
			<address id="copyright">
				<script type="text/javascript" src="../../common/js/copyright.js"></script>
			</address>
		</div>
	</div>
</body>
</html>