<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Language" content="ja" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta http-equiv="Content-Script-Type" content="text/javascript" />
	<meta http-equiv="Content-Style-Type" content="text/css" />
	<meta http-equiv="imagetoolbar" content="no" />
	
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	
	<meta name="Author" content="" />
	<meta name="copyright" content="" />
	<meta name="robots" content="NOINDEX,NOFOLLOW" />
	
	<link rel="start" href="http://beyata.minibird.jp/" />

	<link rel="stylesheet" href="../../common/css/sub.css" type="text/css" media="all" />
	<link rel="stylesheet" href="css/profile.css" type="text/css" media="all" />
	
	<script type="text/javascript" src="../../common/js/jquery-1.4.2.min.js"></script>
	<script type="text/javascript" src="../../common/js/jquery.corner.js"></script>

	<script type="text/javascript">
		$('.top').corner("top 5px");
		$('.bottom').corner("bottom 5px");
	</script>
	
	<title>アカウント編集画面</title>
</head>

<body>
	<div class="mainContainer">
		<div class="headContainer">
			<h1>
				<a href="http://beyata.minibird.jp/">
					<img src="../../common/images/s_logo.gif" width="970" height="81" alt="music mystar" />
				</a>
			</h1>
		</div>
		<div class="menuContainer">
			<ul>
				<li>
					<a href="../../login/"><img src="../../common/images/menu/g_navi_01.gif" /></a>
				</li>
				<!--<li>
					<a href="../../mypage/"><img src="../../common/images/menu/g_navi_02.gif" width="53" height="11" alt="マイページ" /></a>
				</li>-->
				<li>
					<a href="../../mypage/"><img src="../../common/images/menu/g_navi_07.gif" width="80" height="11" alt="ユーザマイページ" /></a>
				</li>
				<li>
					<a href="../../mypage/"><img src="../../common/images/menu/g_navi_08.gif" width="110" height="11" alt="アーティストマイページ" /></a>
				</li>
				<li>
					<a href="../../artist_account/"><img src="../../common/images/menu/g_navi_03.gif" width="80" height="11" alt="アーティスト登録" /></a>
				</li>
				<li>
					<a href="https://www.musicmystar.jp/test/user_account/"><img src="../../common/images/menu/g_navi_04.gif" width="50" height="11" alt="ユーザ登録" /></a>
				</li>
				<!--<li>
					<a href="../../not/"><img src="../../common/images/menu/g_navi_05.gif" width="62" height="12" alt="ポイント購入" /></a>
				</li>-->
				<li>
					<a href="https://www.musicmystar.jp/test/contact/"><img src="../../common/images/menu/g_navi_06.gif" width="42" height="11" alt="お問い合わせ" /></a>
				</li>
			</ul>
			<div class="searchBox">
			</div>
		</div>
		<div class="subMenuContainer">
			<ul class="subMenuUl">
				<li>
					<a href="../../about/"><img src="../../common/images/menu/s_navi_01.gif" width="56" height="14" alt="MMSとは？" /></a>
				</li>
				<li>
					<a href="../../faq/"><img src="../../common/images/menu/s_navi_02.gif" width="88" height="14" alt="ビギナーズガイド" /></a>
				</li>
				<li>
					<a href="../../artist_list/"><img src="../../common/images/menu/s_navi_03.gif" width="90" height="14" alt="アーティスト一覧" /></a>
				</li>
				<li>
					<a href="../../audition/"><img src="../../common/images/menu/s_navi_04.gif" width="78" height="14" alt="オーディション" /></a>
				</li>
				<li>
					<a href="../../not/"><img src="../../common/images/menu/s_navi_05.gif" width="99" height="14" alt="オンラインショップ" /></a>
				</li>
				<li>
					<a href="../../tv/"><img src="../../common/images/menu/s_navi_06.gif" width="55" height="14" alt="MMS TV" /></a>
				</li>
			</ul>
			<div class="iconBox">
				<ul>
					<li>
						<img src="../../common/images/icon/mixi_icon.gif" width="20" height="20" />
					</li>
					<li>
						<img src="../../common/images/icon/facebook_icon.gif" width="20" height="20" />
					</li>
					<li>
						<img src="../../common/images/icon/twitter_icon.gif" width="20" height="20" />
					</li>
				</ul>
			</div>
		</div>
		<div class="contentContainer">
			<div class="breadlistBox">
				<a href="../../">トップページ</a>　&gt;　<a href="../">マイページ</a>　&gt;　アカウント編集画面
			</div>
			<div class="ContentWrap">
				<div class="leftWrap">
					<div class="leftBox">
						<ul>
							<li>
								<a href="../../faq/">
									<img src="../../common/images/banner/s_banner_01.gif" width="239" height="90" />
								</a>
							</li>
							<li>
								<a href="https://www.musicmystar.jp/test/user_account/">
									<img src="../../common/images/banner/s_banner_02.gif" width="238" height="117" />
								</a>
							</li>
							<li>
								<a href="../../artist_account/">
									<img src="../../common/images/banner/s_banner_03.gif" width="238" height="117" />
								</a>
							</li>
							<li>
								<a href="../../not/">
									<img src="../../common/images/banner/s_banner_04.gif" width="238" height="117" />
								</a>
							</li>
							<li>
								<a href="../../not/">
									<img src="../../common/images/banner/s_banner_05.gif" width="238" height="117" />
								</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="rightWrap">
					<div class="rightTitle top">
						<h3>プロフィール変更フォーム</h3>
					</div>
					<div class="rightBox bottom">
						[data_s:flow]
						<table border="0" cellpadding="0" cellspacing="0" class="profileTable">
							<tr>
								<td class="left odd"><span>■</span>ニックネーム</td>
								<td class="right odd">[data_s:user_name]</td>
							</tr>
							<tr>
								<td class="left even"><span>■</span>お名前</td>
								<td class="right even">[data_s:name]</td>
							</tr>
							<tr>
								<td class="left odd"><span>■</span>お名前（カナ）</td>
								<td class="right odd">[data_s:kana]</td>
							</tr>
							<tr>
								<td class="left even"><span>■</span>年齢</td>
								<td class="right even">[data_s:age]</td>
							</tr>
							<tr>
								<td class="left odd"><span>■</span>誕生日</td>
								<td class="right odd">
									[data_s:year]年[data_s:month]月[data_s:day]日
								</td>
							</tr>
							<tr>
								<td class="left even"><span>■</span>性別</td>
								<td class="right even">[data_s:sex_type]</td>
							</tr>
							<tr>
								<td class="left odd"><span>■</span>郵便番号</td>
								<td class="right odd">[data_s:zip]</td>
							</tr>
							<tr>
								<td class="left even"><span>■</span>都道府県</td>
								<td class="right even">[data_s:address1]</td>
							</tr>
							<tr>
								<td class="left odd"><span>■</span>住所</td>
								<td class="right odd">[data_s:address2]</td>
							</tr>
						</table>
						<form action="" method="post" enctype="multipart/form-data">
							<div class="inputBtn">
								<input type="submit" name="mms_profile_return" value="編集画面へ戻る" />
							</div>
							<div class="inputBtn">
								[data_s:input_comp]
							</div>
							<input type="hidden" name="user_name" value="[data_s:user_name]" />
							<input type="hidden" name="name" value="[data_s:name]" />
							<input type="hidden" name="kana" value="[data_s:kana]" />
							<input type="hidden" name="age" value="[data_s:age]" />
							<input type="hidden" name="year" value="[data_s:year]" />
							<input type="hidden" name="month" value="[data_s:month]" />
							<input type="hidden" name="day" value="[data_s:day]" />
							<input type="hidden" name="sex" value="[data_s:sex]" />
							<input type="hidden" name="zip" value="[data_s:zip]" />
							<input type="hidden" name="address1" value="[data_s:address1]" />
							<input type="hidden" name="address2" value="[data_s:address2]" />
						</form>
					</div>
				</div>
			</div>
		</div>
		<div class="footContainer">
			<div class="footerMenuWrap">
				<div class="footerBox">
					<h4><img src="../../common/images/index_footer_title_01.gif" width="149" height="19" alt="music my star" /></h4>
					<ul>
						<li>
							<a href="../../about/">music mystarについて</a>
						</li>
						<!--<li>
							<a href="../../not/">リンクについて</a>
						</li>-->
						<li>
							<a href="../../user_agreement/">ユーザ利用規約</a>
						</li>
						<li>
							<a href="../../artist_agreement/">アーティスト利用規約</a>
						</li>
						<li>
							<a href="../../policy/">プライバシーポリシー</a>
						</li>
						<!--<li>
							<a href="../../transaction/">特定商取引に関する表示</a>
						</li>-->
					</ul>
				</div>
				<div class="footerBox">
					<h4><img src="../../common/images/index_footer_title_02.gif" width="149" height="19" alt="music my star" /></h4>
					<ul>
						<li>
							<a href="../../faq/">FAQ（よくある質問）</a>
						</li>
						<!--<li>
							<a href="../../not/">ご注文について</a>
						</li>-->
						<li>
							<a href="https://www.musicmystar.jp/test/contact/">お問い合わせ</a>
						</li>
					</ul>
				</div>
				<div class="footerBox">
					<h4><img src="../../common/images/index_footer_title_03.gif" width="149" height="19" alt="music my star" /></h4>
					<ul>
						<li>
							<a href="../../faq/">FAQ（よくある質問）</a>
						</li>
						<!--<li>
							<a href="../../not/">アーティスト応募受付</a>
						</li>
						<li>
							<a href="../../not/">アーティスト専用ページ</a>
						</li>-->
					</ul>
				</div>
			</div>
			<address>
				<script type="text/javascript" src="../../common/js/copyright.js"></script>
			</address>
		</div>
	</div>
</body>
</html>