<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Language" content="ja" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta http-equiv="Content-Script-Type" content="text/javascript" />
	<meta http-equiv="Content-Style-Type" content="text/css" />
	<meta http-equiv="imagetoolbar" content="no" />
	
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	
	<meta name="Author" content="" />
	<meta name="copyright" content="" />
	<meta name="robots" content="NOINDEX,NOFOLLOW" />
	
	<link rel="start" href="http://beyata.minibird.jp" />
	<link rel="stylesheet" href="../../common/css/default.css" type="text/css" media="all" />
	<link rel="stylesheet" href="../../common/css/common.css" type="text/css" media="all" />
	<link rel="stylesheet" href="css/message.css" type="text/css" media="all" />
	
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
	<script type="text/javascript" src="../../common/js/jquery.laquu.custom-872b0.js"></script>
	<script type="text/javascript" src="../../common/js/jquery.easing.1.3.js"></script>
	
	<title>メッセージを送る</title>
	
	<script type="text/javascript">
		jQuery(function(){
		 laquu(".nomalTable tr").over();
		});
	</script>
</head>

<body>
	<div class="header">
		<div class="header_box">
			<h1>
				<a href="http://beyata.minibird.jp/">
					<img src="../../common/images/logo.gif" width="115" height="20" alt="UnDeFiNd" />
				</a>
			</h1>
			<div class="search_box">
				<form action="../search/" method="post" enctype="multipart/form-data">
					<input type="hidden" name="search" />
					<input type="text" size="20" maxlength="18" name="search_text" value="" class="text" />
					<input type="image" src="../../common/images/search_icon.gif" width="24" height="20" class="btn" />
				</form>
			</div>
			<div class="header_navi">
				<p>
					<span>[data_s:artist_name]</span>
					<span><a href="">アカウント設定 ▼</a></span>
					<span><a href="">その他 ▼</a></span>
				</p>
			</div>
		</div>
	</div>
	<div class="content">
		<div class="left_content">
			<p class="user_thum">
				<img src="[data_s:artist_thum]" width="100" height="100" />
			</p>
			<dl>
				<dt>マイページ</dt>
				<dd class="n_1">
					<a href="../account/">
						名前
					</a>
				</dd>
				<dd class="n_2">
					<a href="../password/">
						パスワード
					</a>
				</dd>
				<dd class="n_3">
					<a href="../upload/">
						画像
					</a>
				</dd>
				<dd class="n_4">
					<a href="../news/">
						ニュース
					</a>
				</dd>
				<dd class="n_4">
					<a href="../profile/">
						プロフィール
					</a>
				</dd>
				<dd class="n_1">
					<a href="../movie/">
						動画
					</a>
				</dd>
				<dd class="n_2">
					<a href="../sound/">
						ミュージック
					</a>
				</dd>
			</dl>
			<dl>
				<dt>コンテンツ</dt>
				<dd class="n_1">
					<a href="../">
						マイページへ
					</a>
				</dd>
			</dl>
		</div>
		<div class="right_content">
			<div class="content_one_content">
				<p>メッセージは200字以内でお願いします。</p>
				[data_s:err_det]
				<form action="" method="post" enctype="multipart/form-data">
					<table border="0" cellpadding="0" cellspacing="0" class="nomalTable">
						<tr>
							<td class="left odd"><span>■</span>メッセージ送信相手</td>
							<td class="right odd"><img src="[data_s:user_thum]" alt="[data_s:user_name]" /><br />[data_s:user_name]</td>
						</tr>
						<tr>
							<td class="left even">
							<span>■</span>メッセージ
							</td>
							<td class="right even">
								[data_s:view_message]
							</td>
						</tr>
					</table>
				</form>
				<form action="" method="post" enctype="multipart/form-data">
					<div class="inputBtn">
						[data_s:comp_check]
						<input type="hidden" name="message" value="[data_s:message]" />
						<input type="hidden" name="uid" value="[data_s:user_id]" />
						<input type="submit" name="mms_message_return" value="メッセージ入力画面へ戻る" />
						[data_s:input_comp]
					</div>
				</form>
			</div>
		</div>
		<div class="footer">
			<address>
				<script type="text/javascript" src="../../common/js/copyright.js"></script>
			</address>
		</div>
	</div>
</body>
</html>