<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Language" content="ja" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta http-equiv="Content-Script-Type" content="text/javascript" />
	<meta http-equiv="Content-Style-Type" content="text/css" />
	<meta http-equiv="imagetoolbar" content="no" />
	
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	
	<meta name="Author" content="" />
	<meta name="copyright" content="" />
	<meta name="robots" content="NOINDEX,NOFOLLOW" />
	
	<link rel="start" href="http://beyata.minibird.jp/" />

	<link rel="stylesheet" href="../common/css/sub.css" type="text/css" media="all" />
	<link rel="stylesheet" href="css/login.css" type="text/css" media="all" />
	
	<title>ログイン</title>
</head>

<body>
	
<div class="rightWrap">
	<div class="rightTitle">
		<h3>
			ログイン
		</h3>
	</div>
	<div class="rightBox">
		<div class="textBox">
			<div class="loginBox">
				<form action="" method="post" enctype="multipart/form-data">
					<p>[data_s:login_err]</p>
					<dl>
						<dt>ログインID</dt>
						<dd><input type="text" name="user_login_id" class="dd_text" value="[data_s:login_id]" /></dd>
						<dt>パスワード</dt>
						<dd><input type="password" name="user_password" class="dd_text" value="[data_s:password]" /></dd>
					</dl>
					<p class="submit"><input type="submit" name="mms_user_login" value="ログイン" class="dd_submit"></p>
				</form>
			</div>
		</div>
	</div>
</div>
			
</body>
</html>
