<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>サブオーディション画面 - [data_s:page_title]</title>
</head>
<body>
<!--ooooooooooooo-メインコンテンツ部:開始-ooooooooooooo-->
<p><a href="../">オーディション一覧へ戻る</a></p>
<h1>[data_s:head]</h1>
<h2><img src="[data_s:banner_add]" /></h2>
<dl>
<dt>タイトル</dt>
<dd>[data_s:name]</dd>
<dt>募集内容</dt>
<dd>[data_s:detail]</dd>
<dt>応募資格</dt>
<dd>[data_s:qualification]</dd>
<dt>応募方法</dt>
<dd>[data_s:contact_url]</dd>
<dt>開催期間</dt>
<dd>[data_s:start_date]～[data_s:end_date]</dd>
<dt>待遇</dt>
<dd>[data_s:audition_treatment]</dd>
</dl>
<!--ooooooooooooo-メインコンテンツ部:終了-ooooooooooooo-->
</body>
</html>
