<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Language" content="ja" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta http-equiv="Content-Script-Type" content="text/javascript" />
	<meta http-equiv="Content-Style-Type" content="text/css" />
	<meta http-equiv="imagetoolbar" content="no" />
	
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	
	<meta name="Author" content="" />
	<meta name="copyright" content="" />
	<meta name="robots" content="NOINDEX,NOFOLLOW" />
	
	<link rel="start" href="http://beyata.minibird.jp" />
	<link rel="stylesheet" href="../common/css/default.css" type="text/css" media="all" />
	<link rel="stylesheet" href="../common/css/common.css" type="text/css" media="all" />
	<link rel="stylesheet" href="css/contact_conf.css" type="text/css" media="all" />
	
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
	<script type="text/javascript" src="../common/js/jquery.laquu.custom-872b0.js"></script>
	<script type="text/javascript" src="../common/js/jquery.easing.1.3.js"></script>
	
	<title>Contact us</title>
	
	<script type="text/javascript">
		jQuery(function(){
		 laquu(".nomalTable tr").over();
		});
	</script>
</head>

<body>
	<div class="header">
		<div class="header_box">
			<h1>
				<a href="http://beyata.minibird.jp/">
					<img src="../common/images/logo.gif" width="115" height="20" alt="UnDeFiNd" />
				</a>
			</h1>
		</div>
	</div>
	<div class="content">
		<div class="contactBox">
			<div class="title">
				<h3>Contact us</h3>
				<p>下記入力フォームより必要情報をご記入ください。<br /><span>(長いけど全部必須です)</span></p>
			</div>
		</div>
		<div class="contact">
			<div class="contactComp">
				<p>[data_s:mail_conf]</p>
				<p><a href="http://beyata.minibird.jp/">サイトトップへ</a></p>
			</div>
		</div>
		<div class="footer">
			<address>
				<script type="text/javascript" src="../../common/js/copyright.js"></script>
			</address>
		</div>
	</div>
</body>
</html>