<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Language" content="ja" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta http-equiv="Content-Script-Type" content="text/javascript" />
	<meta http-equiv="Content-Style-Type" content="text/css" />
	<meta http-equiv="imagetoolbar" content="no" />
	
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	
	<meta name="Author" content="" />
	<meta name="copyright" content="" />
	<meta name="robots" content="NOINDEX,NOFOLLOW" />
	
	
	
	<link rel="stylesheet" href="../common/css/default.css" type="text/css" media="all" />
	<link rel="stylesheet" href="../common/css/common.css" type="text/css" media="all" />
	<link rel="stylesheet" href="css/search.css" type="text/css" media="all" />
	
	<script type="text/javascript" src="../common/js/jquery-1.4.2.min.js"></script>
	<script type="text/javascript" src="../common/js/jquery.corner.js"></script>

	<title>アーティスト検索</title>
	
	<script type="text/javascript">
		$('.top').corner("top 7px");
		$('.bottom').corner("bottom 7px");
		$('.wrap').corner("bottom 7px");
	</script>
</head>
<body>
	<div class="header">
		<div class="header_box">
			<h1>
				<a href="http://beyata.minibird.jp/">
					<img src="../common/images/logo.gif" width="115" height="20" alt="UnDeFiNd" />
				</a>
			</h1>
			<div class="search_box">
				<form action="../search/" method="post" enctype="multipart/form-data">
					<input type="hidden" name="search" />
					<input type="text" name="search_text" value="アーティスト名を検索" class="text" />
					<input type="submit" class="search_btn" />
				</form>
			</div>
			<div class="header_navi">
				<p>
					<span>[data_s:user_name]</span>
					<span><a href="">アカウント設定 ▼</a></span>
					<span><a href="">その他 ▼</a></span>
				</p>
			</div>
		</div>
	</div>
	<div class="content">
		<div class="ContentWrap_artist">
			<div class="artistTitle top">
				<h3>
					アーティスト一覧
				</h3>
			</div>
			<div class="artistListWrap">
			[for_artist]
				<div class="artistListBox">
					<p class="image"><a href="[data_s:artist_url]"><img src="[data_s:artist_thum]" width="92" height="92" alt="[data_s:artist_name]" /></a></p>
					<p class="point">Point：[data_s:vote_point]</p>
					<p class="name">[data_s:artist_name]</p>
					<p class="vote">
						<a href="[data_s:artist_url]">
							詳細
						</a>
					</p>
				</div>
			[end_for_artist]
			</div>
		</div>
		<div class="footer">
			<p>
				<a href="http://beyata.minibird.jp/contact/">contact us</a>
				<a href="http://beyata.minibird.jp/">UNDEFIND TOP</a>
			</p>
			<address>
				<script type="text/javascript" src="../../common/js/copyright.js"></script>
			</address>
		</div>
	</div>
</body>
</html>