<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Content-Script-Type" content="text/javascript" /> 
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
<script type="text/javascript" src="../common/js/jquery.tablesorter.min.js"></script>
<link rel="stylesheet" href="../common/css/main.css" type="text/css" media="all" />
<link rel="stylesheet" href="../common/theme/style.css" type="text/css" id="" media="print, projection, screen" />
<title>管理画面:動画管理</title>
</head>
<body>
<script type="text/javascript">
$(document).ready(function() { 
    $("#sort_table").tablesorter();
});
</script>
	<div class="mainContainer">
		<div class="headContainer">
			<div class="headWrap">
				<h1>UNDEFIND</h1>
				<p>
					<a href="http://beyata.minibird.jp/">サイトを確認</a>　|　
					<a href="../?out=2NbLQLLmZiwWTMtbRttR">ログアウト</a>
				</p>
			</div>
		</div>
		<div class="naviContainer">
			<ul>
				<li><a href="../user">ユーザ</a></li>
				<li><a href="../artist">アーティスト</a></li>
				<li><a href="../audition">オーディション</a></li>
				<li><a href="../news">ニュース</a></li>
				<li><a href="../movie">動画管理</a></li>
				<li><a href="../sound">音楽管理</a></li>
			</ul>
		</div>
		<div class="contentContainer">
			<div class="titleBox">
				<h2>動画管理</h2>
			</div>
			<div class="oneColumnsBox">
			<h3>運営動画新規投稿</h3>
			<form action="create/" method="post">
			<p><input type="submit" name="mn_movie_create" value="運営動画新規投稿" class="formBtn" /></p>
			</form>
			<h3>運営動画一覧</h3>
			<p><a href="./">アーティスト投稿動画一覧</a>｜<span style="color:#F00;font-weight:bold;">運営投稿動画一覧</span></p>
				<table class="tablesorter" id="sort_table">
				<thead>
				<tr>
				<th>運営動画管理ID</th>
				<th>タイトル</th>
				<th>動画元サイト</th>
				<th>動画元のURL</th>
				<th>登録日時</th>
				<th>更新日時</th>
				<th colspan="2"></th>
				</tr>
				</thead>
				<tbody>
				[for_movie]
				<tr>
				<td>[data_s:seq_num]</td>
				<td>[data_s:movie_title]</td>
				<td>[data_s:site]</td>
				<td><a href="[data_s:movie_url]" target="_blank">[data_s:movie_url]</a></td>
				<td>[data_s:reg_date]</td>
				<td>[data_s:renew_date]</td>
				<td class="submit">
				<form action="" method="post">
					<div>
					<input type="hidden" name="mn_movie" value="[data_s:seq_num]" />
					<input type="submit" name="mn_det" value="動画詳細" />
					</div>
				</form>
				</td>
				<td class="submit">
					<form action="drop/" method="post">
					<div>
					<input type="hidden" name="mn_movie" value="[data_s:seq_num]" />
					<input type="submit" name="mn_drop" value="削除画面" />
					</div>
				</form>
				</td>
				</tr>
				[end_for_movie]
				</tbody>			
				</table>
			</div>
		</div>
		<div class="footContainer">
			<address id="copyright">
				<script type="text/javascript" src="../common/js/copyright.js"></script>
			</address>
		</div>
	</div>
</body>
</html>
