<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Content-Script-Type" content="text/javascript" /> 
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
<script type="text/javascript" src="../common/js/jquery.tablesorter.min.js"></script>
<link rel="stylesheet" href="../common/css/main.css" type="text/css" media="all" />
<link rel="stylesheet" href="../common/theme/style.css" type="text/css" id="" media="print, projection, screen" />
<title>管理画面:ニュース＆インフォメーション一覧</title>
</head>
<body>
<script type="text/javascript">
$(document).ready(function() { 
    $("#sort_table").tablesorter();
});
</script>
	<div class="mainContainer">
		<div class="headContainer">
			<div class="headWrap">
				<h1>UNDEFIND</h1>
				<p>
					<a href="http://beyata.minibird.jp/">サイトを確認</a>　|　
					<a href="../?out=2NbLQLLmZiwWTMtbRttR">ログアウト</a>
				</p>
			</div>
		</div>
		<div class="naviContainer">
			<ul>
				<li><a href="../user">ユーザ</a></li>
				<li><a href="../artist">アーティスト</a></li>
				<li><a href="../audition">オーディション</a></li>
				<li><a href="../news">ニュース</a></li>
				<li><a href="../movie">動画管理</a></li>
				<li><a href="../sound">音楽管理</a></li>
			</ul>
		</div>
		<div class="contentContainer">
			<div class="titleBox">
				<h2>ニュース＆インフォメーション管理画面</h2>
			</div>
			<div class="oneColumnsBox">
			<h3>告知記事新規作成</h3>
			<form action="create/" method="post">
			<p><input type="submit" name="news_create" value="記事新規作成" class="formBtn" /></p>
			</form>
			<h3>ニュース一覧</h3>
				<table class="tablesorter" id="sort_table">
				<thead>
				<tr>
				<th>管理ナンバー</th>
				<th>記事ナンバー</th>
				<th>告知タイトル</th>
				<th>告知カテゴリ</th>
				<th>表示方法</th>
				<th>作成日時</th>
				<th>更新日時</th>
				<th colspan="3"></th>
				</tr>
				</thead>
				<tbody>
				[for_news]
				<tr>
				<td>[data_s:seq_num]</td>
				<td>[data_s:news_id]</td>
				<td>[data_s:news_title]</td>
				<td>[data_s:news_category]</td>
				<td>[data_s:news_view]</td>
				<td>[data_s:reg_date]</td>
				<td>[data_s:renew_date]</td>
				<td class="submit">
				<form action="" method="post">
					<div>
					<input type="hidden" name="news_no" value="[data_s:seq_num]" />
					<input type="submit" name="det" value="ニュース詳細" />
					</div>
				</form>
				</td>
				</tr>
				[end_for_news]
				</tbody>			
				</table>
			</div>
		</div>
		<div class="footContainer">
			<address id="copyright">
				<script type="text/javascript" src="../common/js/copyright.js"></script>
			</address>
		</div>
	</div>
</body>
</html>
