<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Content-Script-Type" content="text/javascript" />
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
<script type="text/javascript" src="../../common/js/jquery.tablesorter.min.js"></script>
<link rel="stylesheet" href="../../common/css/main.css" type="text/css" media="all" />
<link rel="stylesheet" href="../../common/theme/style.css" type="text/css" id="" media="print, projection, screen" />
<title>管理画面:オーディション登録</title>
</head>
<body>
	<div class="mainContainer">
		<div class="headContainer">
			<div class="headWrap">
				<h1>UNDEFIND</h1>
				<p>
					<a href="http://beyata.minibird.jp/">サイトを確認</a>　|　
					<a href="../../?out=2NbLQLLmZiwWTMtbRttR">ログアウト</a>
				</p>
			</div>
		</div>
		<div class="naviContainer">
			<ul>
				<li><a href="../../user">ユーザ</a></li>
				<li><a href="../../artist">アーティスト</a></li>
				<li><a href="../../audition">オーディション</a></li>
				<li><a href="../../news">ニュース</a></li>
				<li><a href="../../movie">動画管理</a></li>
				<li><a href="../../sound">音楽管理</a></li>
			</ul>
		</div>
		<div class="contentContainer">
			<div class="titleBox">
				<h2>アーティスト管理画面</h2>
			</div>
			<div class="oneColumnsBox">
				<table class="nomalTableDeco">
				<tr>
				<td>アーティストID</td>
				<td>アーティスト名</td>
				<td>年齢</td>
				<td>性別</td>
				<td>取得ポイント</td>
				</tr>
				<tr>
				<td class="white">[data_s:ar_id]</td>
				<td class="white">[data_s:artist_name]</td>
				<td class="white">[data_s:age]</td>
				<td class="white">[data_s:sex]</td>
				<td class="white">[data_s:vote_point]</td>
				</tr>
				</table>
				<h3>登録できるオーディション一覧</h3>
				[data_s:err_det]
				<form action="" method="post">
				<table class="tablesorter" id="sort_table">
				<thead>
				<tr>
				<th>イベントナンバー</th>
				<th>タイトル</th>
				<th>開始日時</th>
				<th>終了日時</th>
				<th>登録チェック</th>
				</tr>
				</thead>
				<tbody>
				[for_audition]
				<tr>
				<td>[data_s:aud_seq_num]</td>
				<td><a href="../../audition/?view=[data_s:aud_seq_num]" target="_blank" >[data_s:page_title]</a></td>
				<td>[data_s:start_date]</td>
				<td>[data_s:end_date]</td>
				<td class="submit">
				<input type="checkbox" name="aud_[data_s:aud_seq_num]" value="[data_s:aud_form_check]" />
				</td>
				</tr>
				[end_for_audition]
				</tbody>			
				</table>
				<p><input type="checkbox" name="aud_reg_check" value="check" />参加確認チェック</p>
				<p><input type="hidden" name="artist_reg_no" value="[data_s:artist_no]" />
				<input type="submit" name="aud_reg_comp" value="オーディションに参加させる" class="formBtn" /></p>
				</form>
			</div>
		</div>
		<div class="footContainer">
			<address id="copyright">
				<script type="text/javascript" src="../../common/js/copyright.js"></script>
			</address>
		</div>
	</div>
</body>
</html>