<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Language" content="ja" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta http-equiv="Content-Script-Type" content="text/javascript" />
	<meta http-equiv="Content-Style-Type" content="text/css" />
	<meta http-equiv="imagetoolbar" content="no" />
	
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	
	<meta name="Author" content="" />
	<meta name="copyright" content="" />
	<meta name="robots" content="NOINDEX,NOFOLLOW" />
	
	<link rel="start" href="http://beyata.minibird.jp/" />

	<link rel="stylesheet" href="../common/css/sub.css" type="text/css" media="all" />
	<link rel="stylesheet" href="css/artist_account.css" type="text/css" media="all" />
	
	<script type="text/javascript" src="../common/js/jquery-1.4.2.min.js"></script>
	<script type="text/javascript" src="../common/js/jquery.corner.js"></script>
	<script type="text/javascript">
		$('.top').corner("top 7px");
		$('.bottom').corner("bottom 7px");
		$('.wrap').corner("bottom 7px");
	</script>
	
	<title>アーティスト登録</title>
</head>

<body>
</body>
</html>
